.CompareLocationsMapPage__mapContainer{height:calc(100vh - 18rem);max-height:1400px;min-height:400px;width:100%}@media(min-width:992px){.CompareLocationsMapPage__mapContainer{height:calc(100vh - 18rem)}}
