.CompareByCountryAndStateCard__container .vs__dropdown-menu{--vs-dropdown-max-height:150px}@media(min-width:992px){.CompareByCountryAndStateCard__container .vs__dropdown-menu{--vs-dropdown-max-height:300px}}
